@charset "UTF-8";


.icon-rain:before { content: '\52'; } /* 'R' */
.icon-home-1:before { content: '\e801'; } /* '' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-heart-empty-1:before { content: '\e803'; } /* '' */
.icon-heart-1:before { content: '\e802'; } /* '' */
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-camera-alt:before { content: '\e70f'; } /* '' */
.icon-bicycle:before { content: '\e80a'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-book-open:before { content: '📖'; } /* '\1f4d6' */