@import '../../bower_components/bootstrap/less/bootstrap.less';

@black:                 #2c3e50;
@gray-darker:           #34495e;
@gray-dark:             #586e75;
@gray:                  #7f8c8d;
@gray-light:            #bdc3c7;
@gray-lighter:          #ecf0f1;
@white:                 #fff;

@blue:                  #2980b9;
@green:                 #16a085;
@red:                   #c0392b;
@yellow:                #f1c40f;
@orange:                #e74c3c;
@pink:                  #9b59b6;
@purple:                #8e44ad;

@blue-dark:              darken(@blue, 15%);

// Scaffolding
// -------------------------
@body-bg:               @white;
@text-color:            @black;
#main {
    margin-left:        @grid-gutter-width*2;
}

// Links
// -------------------------
@link-color:            @blue;
@link-hover-color:      @blue-dark;

@selected-background:   @gray-lighter;

// Override sprites

@iconSpritePath:                    "/img/joe.xoxomoon.png";
@iconWhiteSpritePath:               "/img/joe.xoxomoon.png";


// Typography
// -------------------------

@font-face {
	font-family:                    'Roboto';
	src:                            url('/fonts/roboto-regular-webfont.eot');
	src:                            url('/fonts/roboto-regular-webfont.woff') format('woff'),
		                            url('/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
		                            url('/fonts/roboto-regular-webfont.ttf') format('truetype'),
		                            url('/fonts/roboto-regular-webfont.svg') format('svg');
	font-weight:                    normal;
	font-style:                     normal;
}

@font-family-sans-serif:            Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:                 Georgia, "Times New Roman", Times, serif;
@font-family-monospace:             Consolas, "Courier New", monospace;
@font-family-base:                  @font-family-sans-serif;
@headings-font-weight:              normal;    // instead of browser default, bold

@border-radius-tiny:                1px;

p, ol, ul {
	font-family:                    @font-family-serif;
}

// HEADER

h1 {
    padding-top:                    @grid-gutter-width;
    > a:hover {
        text-decoration:            none;
    }
}

.header-dark   { color:             @gray-darker; }
.header-medium { color:             @gray-dark; }
.header-light  { color:             @gray-light; }

// NAV

.nav {

    margin:                         @grid-gutter-width -3px;

    > ul > li + li:before {
        content:                    "/";
        margin-right:               5px;
    }

    > ul > li {
        padding-right:              @grid-gutter-width / 6;
        color:                      @gray-light;
    }

}

.nav, .sub-nav {

    > ul > li > a {
        color:                      @gray-light;
        font-family:                @font-family-sans-serif;
    }

    .active {
        color:                      @red;
    }

}

.sub-nav {
    margin-top: -@grid-gutter-width * 1.5;
}

// BODY

ul, ol {
    padding-left:                   0;
    > li {
        padding-bottom:             @grid-gutter-width / 4;
    }
}

header {
    h4 {
        margin-bottom:              @grid-gutter-width;
    }
}

ul.listing {

    > li {
    }

    a.link-blue {
        color:              @blue;
    }

    a.link-green {
        color:              @green;
    }

    a.link-red {
        color:              @red;
    }

    a.link-yellow {
        color:              @yellow;
    }

    a.link-orange {
        color:              @orange;
    }

    a.link-pink {
        color:              @pink;
    }

    a.link-purple {
        color:              @purple;
    }

}

// FOOTER

footer {
    margin-top:                     @grid-gutter-width * 2;
    border-top:                     1px solid @gray-lighter;
    padding-top:                    @grid-gutter-width * 2;
    padding-bottom:                 @grid-gutter-width * 2;
    > p {
        font-family:                @font-family-sans-serif;
    }
    a {
        color:                      @green;
    }
}

