---
title: about
layout: page
---

.row
  .col-lg-8
    p.lead Hi. I'm Joe.

    p I live in a small 
      i.icon-home-1
      |  in 
      i.icon-rain
      |  Portland, Oregon with my 
      i.icon-heart-empty-1 ly
      |  wife Bev and our son Zeke.

    p I write front-end JavaScript for 
      a(href="http://janrain.com/") Janrain, Inc.

    p Like any good Portlander, I 
      i.icon-heart-1
      | drinking good 
      i.icon-coffee
      | , eating good 
      i.icon-food
      |, and riding my 
      i.icon-bicycle
      | to work.

    p In my free time I try to read, write (both prose and code), and climb rocks whenever I can.

    h3 bio

    p I was born in Seoul, S. Korea, but immigrated to the US at two months old.

    p In September of 2002, I enlisted in the US Marine Corps Infantry. I served two tours in Iraq, and one in the West Pacific.

    p I earned my B.A. in Comparative Literature from the University of Washington in Seattle on the Montgomery GI Bill.

  .col-lg-4
    img.img-thumbnail(src="https://lh3.googleusercontent.com/-xR5D8jUlHOc/UT7B1UII5cI/AAAAAAAAKyo/sJzka0VGc-0/s1011/DSC_8087.JPG")

.row
  .col-lg-12

    h3 about this site

    p I built this site with 
      a(href="http://docpad.org/") DocPad
      |  and 
      a(href="http://twitter.github.io/bootstrap") Twitter Bootstrap
      | . It runs on 
      a(src="http://digitalocean.com/") Digital Ocean
      |  in a 
      a(src="http://docker.io/") Docker
      |  container.

