---
title: prose
layout: page
---

.row
  .col-lg-12
    h3 tech

    p I write about various (mostly nerdy) things on 
     a(src="http://blog.byjoemoon.com") my blog
     . 
    p I've also somehow managed to get a few pieces published on 
     a(src="http://www.theatlantic.com/joe-moon/") The Atlantic's Technology Channel
     | .

    h3 school

    p As a Comparative Literature major, I did a lot of writing. Here's some of it:

    ul.list-unstyled.well
      li 
        a(href="") Problems in the Publication of In-Flight Magazines, January 2009
        p Reflective essay on internship experience at a small publishing company.
      li 
        a(href="") A Hospital Visit, June 2008
        p Final paper for a Narrative Journalism course, winner of the Deb Kaplan Narrative Journalism Award 2008 for "Story that Illuminates an Important Public Issue."
      li 
        a(href="") Achilles' Armor and Identity in The Iliad, March 2008
        p Final paper for an Epic Tradition course.
      li 
        a(href="") Concrete and Abstract Adaptation in Adaptation, September 2007
        p Critical essay on the film Adaptation (2002).

    h3 war

    p I kept a blog during most of my enlistment as a US Marine Corps infantryman.
    
    p I collected posts from my second deployment 
      a("http://servicerecordbook.com") here
      | . 
    p The final entry was published in the University of Washington Comparative History of Ideas Department Publication The Anthology Project (
      a(href="https://depts.washington.edu/chid/The_Anthology_Project/2007/") June 2007
      | ).
